button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #EFEFEF;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Sans-Serif; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em inherit; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 68em) {
    .container {
      padding: 0 inherit; } }

header {
  background: #2B3A42;
  padding: 2em inherit; }
  header .me {
    position: relative;
    float: left; }
    header .me .img {
      float: left;
      background: url("/assets/images/face.png") top left no-repeat;
      background-size: cover;
      width: 4em;
      height: 4em;
      border-radius: 50px;
      text-indent: -999em;
      transition: all 0.5s; }
      @media screen and (min-width: 450px) {
        header .me .img {
          width: 6em;
          height: 6em; } }
    header .me h1, header .me h2 {
      font-size: 1.5em;
      font-weight: 300;
      text-indent: 0;
      color: #EFEFEF;
      display: block;
      margin-left: 80px; }
      @media screen and (min-width: 450px) {
        header .me h1, header .me h2 {
          margin-left: 120px;
          font-size: 2em;
          width: 400px; } }
    header .me h1 {
      margin-top: 10px; }
    header .me h2 {
      font-weight: 300;
      color: #BDD4DE;
      font-size: 1.2em; }
    header .me:hover .img {
      border-radius: 20px; }
  @media screen and (min-width: 450px) {
    header ul {
      float: right; }
      header ul li {
        float: left; } }
  header ul a {
    display: inline-block;
    padding: .75em 2em;
    margin: 1.25em .75em;
    text-transform: uppercase;
    border-radius: 1em;
    font-weight: 500;
    color: #EFEFEF;
    transition: all 0.2s; }
    header ul a:hover {
      background: #BDD4DE; }

footer {
  background: #BDD4DE;
  color: #3F5765;
  padding: 3em; }
  footer p {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    footer p::after {
      clear: both;
      content: "";
      display: table; }
  footer .copyright {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    footer .copyright:last-child {
      margin-right: 0; }
  footer .build-status {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    footer .build-status:last-child {
      margin-right: 0; }

.about .hero {
  text-align: center;
  font-weight: 800;
  color: #EFEFEF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-size: 3em;
  background: #333 url("/assets/images/comp.jpg") center center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 600px) {
    .about .hero {
      padding: 2em;
      font-size: 5em; } }
  .about .hero span {
    background: rgba(0, 0, 0, 0.6);
    display: block;
    padding: .5em; }
.about .third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 2em; }
  .about .third:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .about .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding: 2em 0; }
      .about .third:last-child {
        margin-right: 0; } }
.about h2 {
  font-weight: 300;
  padding-bottom: .25em;
  font-size: 2em; }
.about p {
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: .25em; }
.about img {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
.about .full {
  padding: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .about .full:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .about .full {
      padding: 2em 0; } }



/*# sourceMappingURL=main.css.map */