.about {
    .hero {
        text-align: center;
        font-weight: 800;
        color: $c1;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        font-size: 3em;
        background: #333 url('/assets/images/comp.jpg') center center no-repeat;
        background-size: cover;

        @include media(600px) {
            padding: 2em;
            font-size: 5em;
        }

        span {
            background: rgba(0,0,0,0.6);
            display: block;
            padding: .5em;
        }
    }

    .third {
        @include span-columns(12);
        padding: 2em;

        @include media(768px) {
            @include span-columns(4);
            padding: 2em 0;
        }
    }

    h2 {
        font-weight: 300;
        padding-bottom: .25em;
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        font-weight: 300;
        padding-bottom: .25em;
    }
    img {
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }

    .full {
        padding: 2em;
        @include span-columns(12);

        @include media(768px) {
            padding: 2em 0;
        }
    }
}