header {
    background: $c4;
    padding: 2em inherit;

    .me {
        position: relative;
        float: left;

        .img {
            float: left;
            background: url('/assets/images/face.png') top left no-repeat;
            background-size: cover;
            width: 4em;
            height: 4em;
            border-radius: 50px;
            text-indent: -999em;
            @include transition(all .5s);

            @include media(450px) {
                width: 6em;
                height: 6em;
            }
        }

        h1, h2 {
            font-size: 1.5em;
            font-weight: 300;
            text-indent: 0;
            color: $c1;
            display: block;
            margin-left: 80px;

            @include media(450px) {
                margin-left: 120px;
                font-size: 2em;
                width: 400px;
            }
        }

        h1 {
            margin-top: 10px;
        }
        h2 {
            font-weight: 300;
            color: $c2;
            font-size: 1.2em;
        }

        &:hover {

            .img {
                border-radius: 20px;
            }
        }
    }

    ul {
        @include media(450px) {
            float: right;
            li {
                float: left;
            }
        }

        a {
            display: inline-block;
            padding: .75em 2em;
            margin: 1.25em .75em;
            text-transform: uppercase;
            border-radius: 1em;
            font-weight: 500;
            color: $c1;

            @include transition(all .2s);
            &:hover {
                background: $c2;
            }
        }
    }
}